*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background-color: $clr1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: normal;
    font-family: ubuntu, sans-serif;
    color: $clr-dark;
    background-color: $clr-light;
    letter-spacing: 0;
    font-size: rem(16px);
    line-height: 1.25;
}

input,
button,
a,
textarea {
    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 1px solid $clr-dark;
    }
}