.btn {
    color: $clr1;
    border: 2px solid currentColor;
    background-color: $clr-light;
    border-radius: 4px;
    padding: rem(6px) rem(18px);
    font-size: rem(18px);
    line-height: 1;
    text-transform: uppercase;
    transition: background-color .3s ease-in-out;

    &:disabled {
        color: $clr-dark;
        opacity: .3;
        cursor: not-allowed;
        @include hover-supported {
            background-color: lighten($clr-light, 5%);
        }
    }
    &:active {
        background-color: $clr-light;
    }
    &.loading {
        pointer-events: none;
        opacity: .3;
    }
    @include hover-supported {
        background-color: lighten($clr-light, 2%);
    }
}