@font-face {
    font-family: ubuntu;
    font-weight: bold;
    src: url('../assets/fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: ubuntu-med;
    font-weight: normal;
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: ubuntu-bold;
    font-weight: lighter;
    src: url('../assets/fonts/Ubuntu-Bold.ttf');
}