<template>
    <section class="data-table">
        <div
            v-if="items.length"
            class="data-table-header"
        >
                Double click any row to enrich its data
            </div>
        <table>
            <thead class="font-med">
                <tr>
                    <th
                        v-for="header in headers"
                        :key="header"
                    >
                        {{ header }}
                    </th>
                    <th
                        v-if="isEnriched"
                    >
                        Schools around
                    </th>
                </tr>
            </thead>
            <tbody>
                <table-row
                    v-for="(item, idx) in items"
                    :key="idx"
                    :row="item"
                    @dblclick.native="$emit('row-clicked', idx)"
                />
            </tbody>
        </table>
    </section>
</template>

<script>
import TableRow from '@/cmps/TableRow';

export default {
    props: {
        headers: {
            type: Array,
            default: () => [],
        },
        items: {
            type: Array,
            default: () => [],
        },
        isEnriched: {
            type: Boolean,
            default: false
        }
    },
    components: {
        TableRow
    }
};
</script>