<template>
    <label class="file-upload">
        <span class="btn">Upload file</span>
        <input type="file" @change="onFileUpload" :accept="accept" hidden />
        <span class="sub-txt">{{ fileName }}</span>
    </label>
</template>

<script>
export default {
    props: {
        accept: {
            type: String,
            default: '.csv'
        }
    },
    data() {
        return {
            fileName: ''
        }
    },
    methods: {
        onFileUpload(ev) {
            this.fileName = ev.target.files[0].name;
            this.$emit('file-uploaded', ev.target.files[0]);
        }
    }
}
</script>