<template>
    <tr>
        <td
            v-for="(item, idx) in row"
            :key="idx"
        >
            {{ item }}
        </td>
    </tr>
</template>

<script>
export default {
    props: {
        row: {
            type: Array,
            default: () => []
        }
    }
}
</script>