.app {
    min-height: 100vh;

    &.loading {
        cursor: progress;
    }

    &-actions {
        width: 100%;
        padding: rem(16px) 0;
        margin-block-end: rem(24px);
        
        .file-upload .btn {
            cursor: pointer;
            margin-inline-end: rem(12px);
        }
    }
    main {
        flex-grow: 1;
        width: 100%;
    }
}