//// Colors
$clr-dark: #272d2d;
$clr-light: #EEEEEE;
$clr1: #00A878;
$clr2: #F3A712;
$clr3: #DB2B39;

//// Media break points
$break-mobile: 600px;
$break-narrow: 900px;
$break-normal: 1200px;
$break-wide: 1440px;