.data-table {
    flex-grow: 1;
    max-width: 100%;
    height: 0;
    overflow: auto;

    &-header {
        text-align: center;
        font-size: rem(20px);
        text-transform: capitalize;
        margin-block-end: rem(6px);
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        position: sticky;
        top: 0;
        background-color: $clr1;
        color: $clr-light;
    }

    td, th {
        border: 1px solid $clr-light;
        padding: rem(8px);
        min-width: 50px;
    }
    
    tr:nth-child(even) {
        background-color: darken($clr-light, 10%);
    }

    tbody tr {
    @include hover-supported {
            background-color: darken($clr-light, 20%);
            td {
                border-color: darken($clr-light, 20%);
            }
        }
    }
}