.main-header {
    background-color: $clr-dark;
    padding: rem(12px) 0;
    color: $clr-light;

    h1 {
        font-size: rem(24px);
        line-height: 1;
        text-transform: capitalize;
    }
}