<template>
    <div
        class="app flex-coloumn"
        :class="{ 'loading': isLoading }"
    >
        <MainHeader />
        <main class="main-container flex-coloumn">
            <div class="app-actions">
                <div class="flex-space-between">
                    <FileUpload @file-uploaded="setTableData" />
                    <button
                        class="btn"
                        :class="{ 'loading': isLoading }"
                        :disabled="!tableData.length || isLoading"
                        @click="enrichTable"
                    >
                        Enrich table
                    </button>
                </div>
            </div>
            <data-table
                :headers="tableHeaders"
                :items="tableItems"
                :isEnriched="isEnriched"
                @row-clicked="enrichRow"
            />
        </main>
    </div>
</template>

<script>
import Papa from 'papaparse';
import { enrichmentService } from '@/services/enrichment.service';

import MainHeader from '@/cmps/MainHeader';
import FileUpload from '@/cmps/FileUpload';
import DataTable from '@/cmps/DataTable';

export default {
    name: 'App',
    data() {
        return {
            tableData: [],
            isLoading: false,
            isEnriched: false
        }
    },
    computed: {
        tableHeaders() {
            return this.tableData[0] || [];
        },
        tableItems() {
            return this.tableData.slice(1);
        }
    },
    methods: {
        async enrichTable() {
            this.isLoading = true;
            for (let i = 0; i < this.tableItems.length; i++) {
                setTimeout(async () => {
                    await this.enrichRow(i, false);
                }, i * 3000);
            }
            this.isLoading = false;
        },
        async enrichRow(rowIdx, doSetIsLoading = true) {
            if (doSetIsLoading) this.isLoading = true;
            const rowObj = {};
            this.tableHeaders.forEach((header, idx) => {
                rowObj[header] = this.tableItems[rowIdx][idx];
            });
            try {
                const enrichedRowObj = await enrichmentService.enrichRow(rowObj);
                const idx = this.tableData.findIndex(row => row[0] === enrichedRowObj.SAMPLE_ID);
                this.tableData.splice(idx, 1, Object.values(enrichedRowObj));

            } catch (err) {
                console.log('ERROR: ', err);
            }
            if (!this.isEnriched) this.isEnriched = true;
            if (doSetIsLoading) this.isLoading = false;
        },
        setTableData(csv) {
            Papa.parse(csv, {
                complete: (results) => {
                    this.tableData = results.data.filter(row => row && row[0]);
                }
            });
        }
    },
    components: {
        MainHeader,
        FileUpload,
        DataTable
    }
};
</script>
